name: Auto-merge PRs from specific user

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: >
      github.event.pull_request.user.login == 'bjobilal' &&
      github.event.pull_request.draft == false &&
      github.event.pull_request.base.repo.full_name == 'uclavr/G4VR'
    steps:
      - name: Enable auto-merge
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.USER_AUTO_MERGE }}
          pull-request-number: ${{ github.event.pull_request.number }}
          merge-method: squash
